{% extends 'base.html' %}

{% block content %}
<div class="">



<div class="row">
      <!-- <div class="row">
 -->      <!-- <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
      </div> -->  
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{username}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://collegedigger.com/assets/client/image/user-default.png" height="120%" width="120%"> </div>
        
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>{{name}}</td>
                      </tr>
                      <tr>
                        <td>Enrollment No.</td>
                        <td>{{enrollment_no}}</td>
                      </tr>
                      <tr>
                        <td>Department:</td>
                        <td>{{branch}}</td>
                      </tr>
                      <tr>
                        <td>Semester</td>
                        <td>{{semester}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>{{email}}</td>
                     
                    </tbody>
                  </table>
                  
                  <a href="/mycourses/" class="btn btn-primary" style="text-align:center">My Courses</a>
                  <!--a href="#" class="btn btn-primary">Team Sales Performance</a-->
                </div>
              </div>
            </div>
                 <!--<div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>-->
            
            </div>
        </div>
     <!--  </div> -->

<div class="col-md-5 ratediv">


<div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-5 col-md-offset-0">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive rounded" src="/static/img/style_imagery.png">
                    <span class="card-title"><strong>Course Recommendation</strong></span>
                </div>
                
                <div class="card-content">
                    <p>Help us collect the data for Course Recommendation</p>
                </div>
                
                <div class="card-action">
                	<a href="/rate/" class="btn btn-info btn-lg btn-block btn-huge ratebutton">Rate Courses</a>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- 
<div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a href="#" class="btn btn-success btn-lg btn-block btn-huge ratesbutton">Rate Courses</a>
        </div>
	</div>
 -->



</div>


</div>




<div class="container">
	
</div>

 </div>

{% endblock %}
