{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
	<tr>
		<th>Course</th>
		<th>Rating</th>
    <th> Semester</th>
	</tr>
	{% for row in mycourseslist%}
	<tr>
	    <td class="style1">{{row.0}}</td>
	    <td>{{row.1}}</td>
      <td>{{row.2}}</td>
  	</tr>
	{% endfor %}
</table>

</body>
</html>

{% endblock %}
